.main-container .service-row {
    margin-top: 2px;
    margin-bottom: 2px;
}

.main-container .service {
    background-color: A1D490;
}

.service-description {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 2px;
}

.instance-description .progress {
    height: 10px;
    margin-bottom: 0;
}